encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age13dlwmxvxxhqr0n8s2kfe55u6nzzsuw6qdqa8z67fa8g56sac54asws5v60"

[edit]
    command = "code"
    args = ["--wait"]

[diff]
    exclude = ["scripts"]